* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background: url(background_image.jpg) no-repeat center center/cover;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.quiz-container {
    background: white;
    color: black;
    padding: 20px;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 500px;
}

button {
    background: #c40094;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 18px;
    width: 100%;
}

button:hover {
    background: #950170;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin: 10px 0;
    text-align: left;
}
